@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
}

.container-main {
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  width: 71%;
  margin: 0 auto;
}

.container__mini {
  max-width: 360px;
  margin-bottom: 30px;
}

.container__mini-products {
  max-width: 360px;
  margin-bottom: 30px;
}

.icon {
  fill: #9F9F9F;
}

.icon:hover {
  opacity: 0.5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.background {
  position: absolute;
  max-width: 1600px;
  max-height: 765px;
  top: 53px;
  left: -1197px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

@media (max-width: 1599px) {
  .container-main {
    max-width: 100%;
  }
  .container {
    max-width: 95%;
  }
  .container__mini {
    max-width: 232px;
    max-height: 167px;
    margin-bottom: 19px;
  }
}

@media (max-width: 767px) {
  .container-main {
    max-width: 100%;
  }
  .container {
    max-width: 92%;
  }
  .container__mini {
    max-width: 360px;
    margin-bottom: 30px;
  }
}

.header {
  background-color: #222222;
}

.header .header__wrapper {
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__logo {
  margin: 0 41px 0 0;
  cursor: pointer;
}

.header .header__loupe {
  cursor: pointer;
}

.header .header__menu-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header .header__link {
  margin: 0 0 0 33px;
}

.header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .header__nav:before {
  content: "5";
  width: 19px;
  height: 19px;
  background-color: #F16D7F;
  border-radius: 90px;
  color: #FFFFFF;
  text-align: center;
  position: absolute;
  top: -5px;
  right: -7px;
}

@media (max-width: 1599px) {
  .header .header__logo {
    margin: 0 41px 0 35px;
  }
  .header .header__link {
    margin: 0 35px 0 0;
  }
  .header .header__menu-button {
    margin: 0 35px 0 0;
  }
  .header .header__nav:before {
    right: 25px;
  }
}

@media (max-width: 767px) {
  .header .header__logo {
    margin: 0 41px 0 0px;
  }
  .header .header__menu-button {
    margin: 0;
  }
  .header .header__link {
    display: none;
  }
  .header .header__nav:before {
    content: "5";
    display: none;
  }
}

.header__navigation {
  display: none;
}

.header__navigation-posicion {
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 230px;
  height: 695px;
  background-color: #FFFFFF;
  z-index: 3;
  top: 53px;
  padding: 35px;
}

.header__navigation-title {
  text-transform: uppercase;
  color: #000000;
  padding: 0px 0 14px 0;
  font-weight: 700;
}

.header__menu-button:focus + .header__navigation {
  display: block;
}

.navigation-item__link {
  display: block;
  text-transform: uppercase;
  color: #F16D7F;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  font-weight: 400;
}

.navigation-item__link:hover {
  opacity: 0.5;
}

.navigation-item__sublist-link {
  display: block;
  padding: 0 0 10px 20px;
  text-decoration: none;
  color: #9F9F9F;
  font-weight: 400;
  font-size: 14px;
}

.navigation-item__sublist-link:hover {
  opacity: 0.5;
}

@media (max-width: 1599px) {
  .header .header__navigation-posicion {
    position: absolute;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 700px;
    height: 300px;
    background-color: #FFFFFF;
    z-index: 3;
    top: 53px;
    right: -17px;
    padding: 35px;
  }
  .header__navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header__navigation-title {
    display: none;
  }
}

footer .footer__top {
  background-image: url(../imges/sea.jpg);
  min-height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__top-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__top-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer__top-img {
  width: 96px;
  height: 96px;
}

footer .footer__top-heading {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  font-style: font-style;
  text-align: center;
  color: #222222;
}

footer .footer__top-text1 {
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: font-style;
  color: #222222;
  padding-top: 30px;
  width: 360px;
}

footer .footer__top-text2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  color: #222222;
}

footer .footer__bottom {
  background-color: #222222;
  min-height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__bottom-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__bottom-paragraph {
  color: #FFFFFF;
  font-size: 16px;
}

@media (max-width: 1599px) {
  .footer .footer__top-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer__top-item {
    margin-top: 68px;
  }
  .footer .footer__top {
    background-image: url(../imges/sea150.jpg);
    min-height: 614px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 767px) {
  .footer .footer__top-text1 {
    font-size: 18px;
    line-height: 22px;
  }
  .footer .footer__bottom-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer .footer__bottom-item--margin1 {
    margin: 40px 0 40px 0;
  }
  .footer .footer__bottom-item--margin2 {
    margin: 0 0 9px 0;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 32px;
}

.form .form__email {
  background-color: #E1E1E1;
  width: 256px;
  border: none;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
  padding-left: 22px;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
}

.form .form__submit {
  background-color: #F16D7F;
  width: 100px;
  height: 49px;
  border: none;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .form .form__email {
    width: 220px;
  }
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F1E4E6;
  position: relative;
}

.brand .brand__heading-wrapper {
  background-color: #F1E4E6;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 0 0 92px;
  margin: auto;
  position: relative;
}

.brand .brand__heading {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: font-style;
  text-transform: uppercase;
}

.brand .brand__heading-text {
  font-size: 37px;
  line-height: 44px;
  font-weight: 700;
  font-style: font-style;
}

.brand .brand__heading-text-pink {
  font-size: 37px;
  line-height: 44px;
  font-weight: 700;
  font-style: font-style;
  color: #F16D7F;
}

.brand .brand__heading-wrapper:before {
  content: "";
  width: 12px;
  height: 92px;
  background-color: #F16D7F;
  position: absolute;
  top: 3px;
  left: 65px;
}

@media (max-width: 1599px) {
  .brand .brand__image {
    max-width: 385px;
  }
  .brand .brand__heading {
    font-size: 44px;
    line-height: 53px;
    font-weight: 900;
    font-style: font-style;
  }
  .brand .brand__heading-text {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    font-style: font-style;
    text-transform: uppercase;
  }
  .brand .brand__heading-text-pink {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    font-style: font-style;
    text-transform: uppercase;
  }
  .brand .brand__heading-wrapper {
    padding: 0 0 0 68px;
  }
  .brand .brand__heading-wrapper:before {
    content: "";
    top: 3px;
    left: 40px;
  }
}

@media (max-width: 767px) {
  .brand .brand__image {
    display: none;
  }
  .brand .brand__heading-wrapper {
    padding: 139px 0 139px 68px;
  }
  .brand .brand__heading-wrapper:before {
    top: 139px;
    left: 45px;
  }
}

.stocks .stocks__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 65px 0 97px 0;
}

.stocks .stocks__item {
  width: 360px;
  min-height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stocks .stocks__item--woman {
  background-image: url(../imges/blondGeirl.jpg);
}

.stocks .stocks__item--man {
  background-image: url(../imges/businessMan.jpg);
}

.stocks .stocks__item--kids {
  background-image: url(../imges/childWithGlasses.jpg);
}

.stocks .stocks__item--accessories {
  width: 100%;
  margin-top: 30px;
  min-height: 180px;
  background-image: url(../imges/differentSubjects.jpg);
}

.stocks .stocks__item-link {
  text-decoration: none;
}

.stocks .stocks__item-text {
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
}

.stocks .stocks__item-header {
  text-transform: uppercase;
  color: #F16D7F;
  text-align: center;
  font-size: 28px;
  margin-top: 14px;
}

@media (max-width: 1599px) {
  .stocks .stocks__item {
    min-height: 160px;
  }
  .stocks .stocks__item--woman {
    background-image: url(../imges/blondGeirl64.jpg);
  }
  .stocks .stocks__item--man {
    background-image: url(../imges/businessMan64.jpg);
  }
  .stocks .stocks__item--kids {
    background-image: url(../imges/childWithGlasses64.jpg);
  }
  .stocks .stocks__item--accessories {
    width: 100%;
    margin-top: 30px;
    min-height: 110px;
    background-image: url(../imges/differentSubjects64.jpg);
  }
}

@media (max-width: 767px) {
  .stocks .stocks__item {
    width: 360px;
    min-height: 260px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .stocks .stocks__item--woman {
    background-image: url(../imges/blondGeirl.jpg);
  }
  .stocks .stocks__item--man {
    background-image: url(../imges/businessMan.jpg);
  }
  .stocks .stocks__item--kids {
    background-image: url(../imges/childWithGlasses.jpg);
  }
  .stocks .stocks__item--accessories {
    width: 100%;
    margin-top: 30px;
    min-height: 110px;
    background-image: url(../imges/differentSubjects64.jpg);
  }
}

.products .products__heading {
  text-align: center;
  margin-bottom: 6px;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.products .products__text {
  text-align: center;
  margin-bottom: 48px;
  color: #9F9F9F;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: font-style;
}

.products .products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products .products__item {
  position: relative;
}

.products .products__item-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  margin: 0;
  top: 40%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid white;
  color: #FFFFFF;
  width: 140px;
  height: 45px;
  display: none;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.products .products__item-button:hover {
  border: 1px solid #E1E1E1;
  color: #E1E1E1;
  background: rgba(0, 0, 0, 0.2);
}

.products .products__item-img:before {
  content: "";
  width: 360px;
  height: 420px;
  margin-bottom: 30px;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}

.products .products__item-img:before {
  display: none;
}

.products .products__item-heading {
  text-transform: uppercase;
  padding: 25px 0 12.5px 16px;
  color: #000000;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: font-style;
}

.products .products__item-text {
  color: #9F9F9F;
  padding: 0 28px 18px 16px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: font-style;
}

.products .products__item-price {
  color: #F16D7F;
  padding-left: 16px;
}

.products .products__item:hover .products__item-img:before {
  display: block;
}

.products .products__item:hover .products__item-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products .products__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products .products__button-link {
  border: 1px solid #F16D7F;
  color: #F16D7F;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: font-style;
  width: 211px;
  padding-top: 14.5px;
  padding-bottom: 13.5px;
}

.products .products__button-link:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.imges__button {
  display: block;
}

.text__button {
  display: block;
}

.advantages .advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #222222;
  margin-top: 95.5px;
}

.advantages .advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
  padding: 104px 0 104px 0;
  margin: 0 15px 0 15px;
}

.advantages .advantages__item-imges {
  width: 47px;
  height: 35px;
}

.advantages .advantages__item-header {
  color: #FFFFFF;
  padding: 25px 0 16px 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.advantages .advantages__item-text {
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
}

@media (max-width: 1599px) {
  .advantages .advantages__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advantages .advantages__item {
    padding: 0;
  }
  .advantages .advantages__item-imges {
    padding: 48px 0 0 0;
  }
  .advantages .advantages__item-text--margin {
    margin: 0 0 64px 0;
  }
}

@media (max-width: 767px) {
  .advantages .advantages__item-text--margin {
    margin: 0 0 81px 0;
  }
}

.heading__registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 148px;
  background-color: #F1E4E6;
}

.heading__registration-text {
  display: block;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: font-style;
  color: #F16D7F;
}

.registration-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  margin-bottom: 96px;
}

.registration-main__button {
  text-transform: uppercase;
  width: 167px;
  height: 50px;
  color: #FFFFFF;
  background-color: #F16D7F;
  border: none;
}

.registration-main__button-imges {
  padding-left: 20px;
}

.registration__form {
  margin-right: 128px;
}

.registration__text {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: font-style;
  color: #000000;
}

.registration__paragraph {
  width: 652px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: font-style;
  padding: 22px 0 21px 0;
}

.registration__item {
  padding-top: 16px;
}

.registration__item-text {
  position: relative;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: font-style;
  color: #000000;
  padding-left: 42px;
}

.registration__item-text::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 16px;
  background-image: url(../imges/jackdaw.svg);
  left: 0;
  top: 8px;
}

.registration__form-text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: font-style;
  color: #222222;
}

.registration__form-form {
  display: block;
  width: 360px;
  height: 45px;
  margin-top: 20px;
  border: 1px solid #A4A4A4;
}

.registration__form-form::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: font-style;
  color: #B1B1B1;
  padding-left: 17px;
}

.registration__form-form:-ms-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: font-style;
  color: #B1B1B1;
  padding-left: 17px;
}

.registration__form-form::-ms-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: font-style;
  color: #B1B1B1;
  padding-left: 17px;
}

.registration__form-form::placeholder {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: font-style;
  color: #B1B1B1;
  padding-left: 17px;
}

.registration__form-item {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: font-style;
  color: #B1B1B1;
  margin-top: 15.5px;
  margin-bottom: 39px;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.radio .radio__form {
  margin-top: 32px;
  margin-bottom: 32px;
  width: 17px;
  height: 17px;
  display: none;
}

.radio .radio__form:checked + .radio__label::before {
  background-color: #F16D7F;
}

.radio .radio__label {
  position: relative;
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 32px;
  margin-bottom: 32px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
}

.radio .radio__label::before {
  content: "";
  position: absolute;
  border: 1px solid #A4A4A4;
  width: 15px;
  height: 15px;
  left: -25px;
  border-radius: 90px;
}

.male {
  line-height: 13px;
  margin-left: 25px;
}

.female {
  margin-left: 45px;
}

.shopping__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 148px;
  background-color: #F1E4E6;
}

.shopping__heading-text {
  display: block;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: font-style;
  color: #F16D7F;
}

.shopping__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shopping__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shopping__form {
  width: 360px;
  height: 600px;
  border: 1px solid black;
}
/*# sourceMappingURL=style.css.map */