$black-color: #222222;
$light-pink-color: #F1E4E6;
$pink-color: #F16D7F;
$light-grey: #9F9F9F;
$blak: #000000;
$white: #FFFFFF;
$light-light-grey: #E1E1E1;
$max-tablet-widht: 1599px;
$max-mobil-widht:767px;