.form {
    display: flex;
    margin: 32px;
    .form__email {
        background-color: $light-light-grey;
        width: 256px;
        border: none;
        border-top-left-radius: 150px;
        border-bottom-left-radius: 150px;
        padding-left: 22px;
        font-size: 14px;
        line-height: 17px;
        color: $black-color;
    }
    .form__submit {
        background-color: $pink-color;
        width: 100px;
        height: 49px;
        border: none;
        border-top-right-radius: 150px;
        border-bottom-right-radius: 150px;
        font-size: 14px;
        line-height: 17px;
        color: $white;
    }
}

@media (max-width:$max-mobil-widht) {
    .form .form__email {
        width: 241px;
    }
}


}
.footer__top-text2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    color: $black-color;
}
.footer__bottom {
    background-color: $black-color;
    min-height: 79px;
    @include display-align-items();
}
.footer__bottom-list {
    @include display-align-items();
    justify-content: space-between;
}
.footer__bottom-paragraph {
    color: $white;
    font-size: 16px;
}

}
@media (max-width: $max-tablet-widht) {
    .footer .footer__top-list {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .footer .footer__top-item {
        margin-top: 68px;
    }
    .footer .footer__top {
        background-image: url(../imges/sea150.jpg);
        min-height: 614px;
        align-items: flex-start;
    }
}
@media (max-width:$max-mobil-widht) {
    footer .footer__top-text1 {
        font-size: 18px;
        line-height: 22px;
    }
}