.navigation-item__link {
    display: block;
    text-transform: uppercase;
    color: $pink-color;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-weight: 400;
}

.navigation-item__link:hover {
    opacity: 0.5;
}

.navigation-item__sublist-link {
    display: block;
    padding: 0 0 10px 20px;
    text-decoration: none;
    color: $light-grey;
    font-weight: 400;
    font-size: 14px;
}

.navigation-item__sublist-link:hover {
    opacity: 0.5;
}