.product-products {
    margin: 128px 0 128px 0;
}

@media (max-width: $max-tablet-widht) {
    .products-none {
        display: none;
    }
}

@media (max-width:$max-mobil-widht) {
    .products__list {
        flex-wrap: wrap;
    }
}