.product {
    height: 148px;
    background-color: #F1E4E6;
}

.product__registration {
    display: flex;
    justify-content: space-between;
    height: 148px;
}

.product__registration-list {
    display: grid;
}

.product__registration-text {
    display: block;
    text-transform: uppercase;
}