.heading__registration {
    @include display-align-items();
    height: 148px;
    background-color: $light-pink-color;
}

.heading__registration-text {
    display: block;
    text-transform: uppercase;
    @include font (24px, 29px 400);
    color: $pink-color;
}