.advantages {
    .advantages__list {
        display: flex;
        justify-content: center;
        background-color: $black-color;
        margin-top: 95.5px;
    }
    .advantages__item {
        @include display-align-items();
        flex-direction: column;
        width: 360px;
        padding: 104px 0 104px 0;
        margin: 0 15px 0 15px;
    }
    .advantages__item-imges {
        width: 47px;
        height: 35px;
    }
    .advantages__item-header {
        color: $white;
        padding: 25px 0 16px 0;
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
    }
    .advantages__item-text {
        color: $white;
        text-align: center;
        font-size: 14px;
        line-height: 17px;
    }
}

@media (max-width: $max-tablet-widht) {
    .advantages .advantages__list {
        align-items: center;
        flex-direction: column;
    }
    .advantages .advantages__item {
        padding: 0;
    }
    .advantages .advantages__item-imges {
        padding: 48px 0 0 0;
    }
    .advantages .advantages__item-text--margin {
        margin: 0 0 64px 0;
    }
}

@media (max-width:$max-mobil-widht) {
    .advantages .advantages__item-text--margin {
        margin: 0 0 81px 0;
    }
}